SECRET_KEY=django-insecure-edupoint-change-in-production-2026
DEBUG=True
ALLOWED_HOSTS=*
TELEGRAM_BOT_TOKEN=7569848532:AAGWG6p2LdKBVIN2oYJQHrBvyJq7uIAlRl8
TELEGRAM_CHAT_ID=5650262847
SITE_URL=http://localhost:8000
